@model MvcStok.Models.Entity.Tbl_Musteriler
@{
    ViewBag.Title = "MusteriGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Musteri", FormMethod.Post))
{
    <div class="form-group">
        <b>Müşteri IDsi:</b>
        @Html.TextBoxFor(m => m.MUSTERIID, new { @class = "form-control" })
        <br />
        <b>Müşteri Adı:</b>
        @Html.TextBoxFor(m => m.MUSTERIAD, new { @class = "form-control" })
        <br />
        <b>Müşteri Soyadı:</b>
        @Html.TextBoxFor(m => m.MUSTERISOYAD, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Müşteri Güncelle</button>
    </div>
}